<body>
    <input id="omikuji_btn" type="button" value="おみくじを引く">
    <script>
        document.getElementById("omikuji_btn").onclick = function() {
               var rnd = Math.floor( Math.random() * 6 );
            var omikuji;
            if (rnd === 0) omikuji = "大吉";
            if (rnd === 1) omikuji = "吉";
            if (rnd === 2) omikuji = "中吉";
            if (rnd === 3) omikuji = "小吉";
            if (rnd === 4) omikuji = "末吉";
            if (rnd === 5) omikuji = "凶";
            alert(omikuji);
            
        }
    </script>
</body>

<main class="main">
  <div class="inner">
  <%= month_calendar do |date| %>
  <%= date %>
<% end %>
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting"> 
        こんにちは、 
         <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :greeting__link%>
       </div> 
      <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでスタンプ投稿一覧を表示する %>
      <%= render partial: 'stamp', collection: @stamps %>
    </div>
  </div>
</main>
